/*** CANCEL ***/
html, body, main { width: 100%; height: 100%; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.catalog-content { position: relative; z-index: 10; }
/*** END Z-INDEXES ***/

/*** COlORS ***/
.catalog-content { background-color: white; }
.catalog-menu-footer,
.catalog-menu-footer a,
.catalog-content-product-figure-pricing,
.catalog-content-product-nav-button { color: white; }

.catalog-content-product-nav-button:before { background-color: #AAA; }

.catalog-content-product-figure-pricing { background-color: rgba(0, 0, 0, .7); }
.catalog-content-product-nav-button,
.catalog-menu { background-color: black; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{
	font-family:"Arial Black";src:url("../../assets/fonts/ariblk.ttf");/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/}

* {font-family:"Arial Black", sans-serif;}

 { font-size: 1.9em; }
/*** END FONTS ***/

/*** MEDIA ***/
.catalog-content-product-nav-button.is-icon { background-image: url("/assets/images/icon_download_white.png"); }
.catalog-content-product-nav-button.is-icon {
	background-size: auto 80%;
	
	background-position: center;
	background-repeat: no-repeat;
}

.catalog-content-product-nav-button.is-text:before { background-image: url("/assets/images/icon_facebook_black.png"); }
.catalog-content-product-nav-button.is-icon.is-image:before { background-image: url("/assets/images/icon_image_black.png"); }
.catalog-content-product-nav-button.is-icon.is-video:before { background-image: url("/assets/images/icon_video_black.png"); }
.catalog-content-product-nav-button:before {
	background-size: auto 80%;
	
	background-position: center;
	background-repeat: no-repeat;
}
/*** END MEDIA ***/

/*** PAGES: CATALOG ***/
	/*** COMMONS ***/
	.catalog-content-product-nav-button,
	.catalog-content-product-nav-button:before {
		border-radius: .25em;
	}

	/*** .catalog ***/
	.catalog,
	.catalog-content-product,
	.catalog-menu-sublist { display: flex; }
	.catalog-content-product { flex-direction: column; }
	.catalog-content,
	.catalog-content-product-figure,
	.catalog-menu-sublist-item { flex: 1; }

	.catalog-content {
		width: 100%;
	}
	.catalog-content-list,
	.catalog-content-list-item,
	.catalog-content-product {
		width: 100%; height: 100%;
	}
	.catalog-content-product {
	}
	
	.catalog-content-product-cart {
		position: fixed;
	}
	
	.catalog-content-product-figure {
		width: 100%; height: 1%;
	}
	.catalog-content-product-figure-img_wrap,
	.catalog-content-product-figure-img {
		width: auto; max-width: 100%; height: 100%;
	}
	.catalog-content-product-figure-img_wrap {
		position: relative;
	}
	.catalog-content-product-figure-pricing {
		position: absolute; bottom: 30%; right: 19%;
		max-width: 50%;
		padding: .5em;
	}
	.catalog-content-product-nav {
		padding: .5em;
	}
	.catalog-content-product-nav-button {
		position: relative;
		padding: 1em;
		margin: .5em;
	}
	.catalog-content-product-nav-button:before {
		content: "";
		position: absolute; top: -.5em;
		width: 1.25em; height: 1.25em;
	}
		.catalog-content-product-nav-button.is-icon:before { left: -.5em; }
		.catalog-content-product-nav-button.is-text:before { right: -.5em; }
	.catalog-content-product-nav-button.is-icon {
		text-indent: -9999px;
		width: 3em;
	}
	
	.catalog-menu {
	}
	.catalog-menu-list,
	.catalog-menu-list-item,
	.catalog-menu-sublist-item {
		padding: .5em;
	}
	.catalog-menu-list {}
	.catalog-menu-list-item,
	.catalog-menu-sublist-item {
		width: 33.3333%;
		display: inline-block;
	}
	.catalog-menu-sublist-item {
		position: relative;
	}
	.catalog-menu-sublist-item:before {
		content: "Advertisment"; font-size: .5em;
		position: absolute; top: 1em; right: 1em; z-index: 100;
		width: auto; height: auto;
		display: block;
		padding: .5em;
		
		background-color: #AAA;
	}
		
	.catalog-menu-label-img {
	}
/*** END PAGES: CATALOG ***/

/*** INTERACTIVITY ***/
.catalog-menu-label { cursor: pointer; }

.catalog-content-list-item { display: none; }{% for file in site.data.catalog %}{% for data in file %}
#rdb4{{ data[0] | capitalize }}:checked ~ main .catalog-content-list-item.nthChild-{{ data[0] | remove: "ctlg" }},{% endfor %}{% endfor %}
.jekyllPlaceholderClassName { display: block; }

.catalog-menu-label-img { filter: grayscale(100%); }{% for file in site.data.catalog %}{% for data in file %}
#rdb4{{ data[0] | capitalize }}:checked ~ main .catalog-menu-list-item.nthChild-{{ data[0] | remove: "ctlg" }} .catalog-menu-label-img,{% endfor %}{% endfor %}
.jekyllPlaceholderClassName,
.catalog-menu-label-img:hover,
.catalog-menu-label-img:active,
.catalog-menu-label-img:focus { filter: grayscale(0%) !important; }
/*** END INTERACTIVITY ***/

/*** MEDIA QUERIES ***/
@media screen and (max-width: 25em) {
	/*** FONTS ***/
	html, body, main { font-size: 14px; }
}
@media screen and (min-width: 25em) {
	/*** FONTS ***/
	html, body, main { font-size: 16px; }
}
@media screen and (max-width: 50em) {
	/*** FONTS ***/
	
	/*** PAGES: CATALOG ==> .catalog ***/
	.catalog { flex-direction: column; }
	
	.catalog-content { height: 70vh; }
	.catalog-menu { margin-top: 70vh; }
	
	.catalog-content {
		position: fixed; top: 0; left: 0;
	}
	.catalog-content-product-cart { bottom: 30%; right: 0; margin-bottom: 5em; }
	
	/*** DECORATION ***/
	.d-laptop { display: none !important; }
}
@media screen and (min-width: 50em) {
	/*** FONTS ***/
	html, body, main { font-size: 18px; }
	
	/*** PAGES: CATALOG ==> .catalog ***/
	.catalog-content { height: 100vh; }
	.catalog-menu { width: 35%; }
	
	.catalog-content {
		position: sticky; top: 0; left: 0;
	}
	.catalog-content-product-cart { bottom: 5em; right: 35%; }
	
	/*** DECORATION ***/
	.d-mobile { display: none !important; }
}
/*** END MEDIA QUERIES ***/

/*** DECORATION ***/
	/*** .d-cssCentered ***/
	.d-cssCentered {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	/*** .d-midWrap ***/
	.d-midWrap {
		max-width: 75em;
//		max-width: 50em;
		margin: auto;
	}
/*** END DECORATION ***/

/*** ANIMATION ***/
{% for file in site.data.catalog %}{% for data in file %}
#rdb4{{ data[0] | capitalize }}:checked ~ main .catalog-menu-list-item.nthChild-{{ data[0] | remove: "ctlg" }} .catalog-menu-label-img,{% endfor %}{% endfor %}
.jekyllPlaceholderClassName { animation: aDance 1s infinite reverse; }
@keyframes aDance {
	0% { transform: rotate(0); }
	50% { transform: rotate(1.9deg); }
	100% { transform: rotate(0); }
}
/*** END ANIMATION ***/

/*** SANDBOX ***/
.catalog-content-product-figure-pricing { display: none !important; }
/*** END SANDBOX ***/