/*** CANCEL ***/
html, body, main { width: 100%; height: 100%; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.prime-map { position: relative; z-index: 10; }
.prime-check,
.prime-search { position: relative; z-index: 20; }
/*** END Z-INDEXES ***/

/*** COLORS ***/
.prime-check_dock,
.prime-search-button { color: white; }

.prime-map { background-color: #eee; }

.prime-check_dock { background-color: black; }
.prime-search-button { background-color: black !important; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{
	font-family:"Arial Black";src:url("../../assets/fonts/ariblk.ttf");/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/}

* {font-family:"Arial Black", sans-serif;}

.prime-check-title { font-size: 1.9em; }

.footer-copyrights,
.prime-check_dock { text-align: center; }
.footer-copyrights a { text-decoration: underline; }
/*** END FONTS ***/

/*** MEDIA ***/	
.banner-ad-of-logo-img { filter: opacity(.1); }
/*
.banner-ad-of-logo:nth-child(1) { background-image: url("../../assets/images/icon_messenger_black.png"); }
.banner-ad-of-logo:nth-child(2) { background-image: url("../../assets/images/icon_facebook_black.png"); }
.banner-ad-of-logo {
	background-repeat: no-repeat;
	background-size: auto 100%;
	
	background: none !important;
}
	.banner-ad-of-logo:nth-child(1) { background-position: center; }
	.banner-ad-of-logo:nth-child(2) { background-position: center left; }
*/

.prime-search-icon { background-image: url("../../assets/images/icon_home_black.png"); }
.prime-search-icon { background-size: cover; }

.banner-login-facebook {// filter: grayscale(100%); }
/*** END MEDIA ***/

/*** PAGES: WELCOME ***/
	/*** COMMONS ***/
	main { display: flex; flex-direction: column; }
	.prime { flex: 1; }
	.banner-ad-video,
	.prime-check_dock,
	.prime-search-button,
	.prime-search-input { border-radius: .25em; }
	
	/*** .banner ***/
	.banner-login { flex-direction: column !important; }
	
	.banner-ad,
	.banner-login-text {
		padding: 1.9em;
	}
	.banner-ad-video {
		width: 100%;
	}
	
	/*** .footer ***/
	.footer {
		padding: 1em;
	}

	/*** .prime ***/
	.prime_dock {
		position: relative;
		width: 100vw; height: 85vh;
	}
	.prime-map {
		width: 100%; height: 100%;
		overflow: hidden !important;
	}
	
	.prime-check,
	.prime-search {
		position: absolute; left: 0;
		width: 100%;
		padding: 1.9em;
	}
	
	.prime-check {
			bottom: 0;
	}
	.prime-check_dock {
		padding: 1.9em;
	}
	
	.prime-search {
			top: 0;
	}
	.prime-search_dock {
		position: relative;
	}
	.prime-search-icon,
	.prime-search-button {
		position: absolute; top: 0; bottom: 0;
		margin: auto;
	}
	.prime-search-button {
			right: 0;
		padding: 0 1em;
	}
	.prime-search-icon {
			left: .75em;
		width: 1.5em; height: 1.5em;
		display: block;
	}
	.prime-search-input {
		width: 100%;
		display: block;
		padding: .5em; padding-left: 3em; padding-right: 6em;
	}
/*** END PAGES: WELCOME ***/

/*** INTERACTIVITY ***/
	.prime-map.is-grey { filter: grayscale(100%); }
/*** END INTERACTIVITY ***/

/*** MEDIA QUERIES ***/
@media screen and (max-width: 50em) {
	/*** FONTS ***/
	html, body, main { font-size: 16px; }
	
	/*** PAGES: WELCOME ==> .banner ***/
	.banner-ad-of-logo-img {
		width: auto; height: 4em;
	}
	
	.banner-login-facebook {
		text-align: center;
	}
	
	/*** PAGES: WELCOME ==> .prime ***/
	.prime-map.is-active ~ .prime-check .prime-check-title { display: none; }
}
@media screen and (min-width: 50em) {
	/*** FONTS ***/
	html, body, main { font-size: 18px; }
	
	/*** PAGES: WELCOME ==> .banner ***/
	.banner,
	.banner-login { display: flex; }
	.banner-ad,
	.banner-login,
	.banner-login-text { flex: 1; }
	
	.banner-ad-of-logo-img {
		width: auto; height: 6em;
	}
}
/*** END MEDIA QUERIES ***/

/*** DECORATION ***/
	/*** .d-cssCentered ***/
	.d-cssCentered {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	/*** .d-midWrap ***/
	.d-midWrap {
		max-width: 75em;
		margin: auto;
	}
/*** END DECORATION ***/

/*** SANDBOX ***/
.banner-ad-of { display: none !important; }
/*** SANDBOX ***/

/*** LIBRARY ***/
.leaflet-control-attribution { display: none !important; }
/*** END LIBRARY ***/