<section class="uMenu"><div class="d-midWrap">
	<p class="uMenu-message js-uMessage">Welcome back, Client AAA.</p>
	
	<div class="uBubble">
		<figure class="uBubble-portrait d-cssCentered">
			<a href="https://fb.watch/xrFbErE0B8/"><img src="/assets/images/portrait.png" class="uBubble-portrait-img" /></a>
			<figcaption class="uBubble-portrait-caption d-curvedText">{% assign vCurvedText = "Madam Ella" | split: "" %}{% for i in vCurvedText %}
				<span>{{ i | upcase }}</span>{% endfor %}
			</figcaption>	
		</figure>
		<span class="uBubble-icon"></span>
	</div>
</div></section>